<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    </head>
    <body>
        <div id="map"></div>
        <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
        <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
        <script>
            var map = L.map('map').setView([35.1213616,-89.939336], 15);
            var stamen = new L.StamenTileLayer("toner");

            map.addLayer(stamen);

            // Initialize the searchCircle and PlacesGroup layers so that they
            // can be removed/updated at each call of the getPlaces function
            var searchCircle = L.circle([0,0], 0.5, {
                    color: '#D4D419',
                    fillColor: '#D4D419',
                    fillOpacity: 0.0
            }).addTo(map);

            var placesGroup = L.layerGroup().addTo(map);

            // Create a style for marking the pubs' locations on the map
            var beerIcon = L.icon({
                    iconUrl: "{{ url_for('static', filename='img/beer.png') }}",
                    iconSize: [25, 30]
            });

            // Create a function that passes a REST request to our flask 
            // within() route
            function getPlaces(latlng) {
                url = "/within?lat=" + latlng.lat + "&lng=" + latlng.lng;
                console.log(url);
                
                searchCircle.setLatLng(latlng);
                searchCircle.setRadius(250);
                
                // Use JQuery to perform a GET request on the url and pass the
                // result to the parsePlaces function as json
                $.get(url, parsePlaces, "json");
            }

            // Parse the json returned by Yelp to extract the information we
            // want to display. 
            function parsePlaces(data) {
                console.log(data);
                var businesses = data.businesses;
                // Clear the placesGroup so that we only show the pubs in our
                // new search area
                placesGroup.clearLayers();
                
                // Change the color of our search circle depending on if any
                // pubs were returned
                if (businesses.length > 0)
                    searchCircle.setStyle({color: "#D4D419"});
                else 
                    searchCircle.setStyle({color: "red"});
                
                // Loop over the businesses and add each to the placesGroup
                for (var i = 0; i < businesses.length; ++i) {
                    var coords = [businesses[i].location.coordinate.latitude,
                                  businesses[i].location.coordinate.longitude];
                    placesGroup.addLayer(L.marker(coords, {icon: beerIcon}));
                }
            }

            // Attach the map click event handler to our getPlaces function
            map.on('click', function(e) {
                    getPlaces(e.latlng);
            });

        </script>
    </body>
</html>

